$accent: #484848;
$dots: #959595;
$title: #4D4D4D;
$card: #6D6868;
$btn-color: #BF7691;
$btn-color-hover: #B95F76;
$input: #E4EEF2;


%Montserrat-Light {
    font-family:'Montserrat-Light';
    font-weight: 300;
}

%Montserrat-LightItalic {
    font-family: 'Montserrat-LightItalic';
    font-weight: 300;
}

%Montserrat-Regular {
    font-family: 'Montserrat-Regular';
    font-weight: 400;
}

%Montserrat-Italic {
    font-family: 'Montserrat-Italic';
    font-weight: 400;
}

%Optima-Cyr {
    font-family: 'Optima Cyr';
    font-weight: 400;
}

%Montserrat-Medium {
    font-family: 'Montserrat-Medium';
    font-weight: 500;
}

%Montserrat-SemiBold {
    font-family: 'Montserrat-SemiBold';
    font-weight: 600;
}